<div class="container py-5">
  <div class="row p-0">
    <div class="col-md-7 col-lg-5 mx-auto p-0 px-0">

      <div class="card rounded-0">
        <div class="card-header">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <div class="pb-2">
          <%- if devise_mapping.omniauthable? %>
              <%= link_to "Sign in with Facebook", omniauth_authorize_path(resource_name, "facebook"), class: "btn btn-primary btn-lg col-12" %>
              <%= link_to "Sign in with Google", omniauth_authorize_path(resource_name, "google_oauth2"), class: "btn btn-danger btn-lg col-12 mt-2" %>
          <% end -%>
          </div>

          <div class="divider"></div>
          <%= render 'layouts/flash_messages' %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, class: "form-control form-control-md rounded-0", autofocus: true, placeholder: "Email" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, class: "form-control form-control-md rounded-0", autocomplete: "off", placeholder: "Passsword"  %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description small">Remember me on this computer</span>
              </label>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-success btn-lg float-right col-12 col-sm-6 mb-2" %>
               <%= render "users/shared/links" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

