<!DOCTYPE html>
<html>
  <head>
    <title>EDelivery</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= render "layouts/navbar" %>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container page-content">
    <%= yield %>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; eDelivery 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  </body>
</html>
