<%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true, method: :put ) do |f| %>
  <%= devise_error_messages! %>
  <div class="modal-body">
      <div class="form-group invisible-label">
        <%= f.label :password do %>Password (left empty if you won't change)<% end %>
        <%= f.password_field :password, class: "form-control form-control-md rounded-0", autocomplete: "off", placeholder: "New password" %>
        <div class="field_with_errors small text-error"></div>
      </div>

      <div class="form-group invisible-label">
        <%= f.label :password_confirmation do %>Password confirmation<% end %>
        <%= f.password_field :password_confirmation, class: "form-control form-control-md rounded-0", autocomplete: "off", placeholder: "New password confirmation" %>
        <div class="field_with_errors small text-error"></div>
      </div>

      <div class="form-group invisible-label">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: "form-control form-control-md rounded-0", autocomplete: "off", placeholder: "Current password" %>
        <div class="field_with_errors small text-error"></div>
      </div>
      </div>

      <div class="modal-footer mb-2 text-right">
        <div class="text-right col-12">
          <%= button_tag 'Cancel', type: 'button', 'data-dismiss': 'modal', class: 'btn btn-gray col-12 col-sm-5' %>
          <%if action_name=="edit" %>
            <%= f.submit "Update", class: "btn btn-green col-12 col-sm-5" %>
          <% else %>
            <%= f.submit "Create", class: "btn btn-green col-12 col-sm-5", remote: true %>
          <% end %>
        </div>
      </div>
<% end %>