<!-- modal settings -->
<% modal_name = 'new_address_modal' %>

<div class="container py-2">
  <div class="row p-0">
    <div class=" col-md-8 col-sm-12">
      <div id="flash_messages"><%= render 'layouts/flash_messages' %></div>
      <div class="card rounded-0">
        <div class="card-header">Profile</div>
        <div class="card-body">
          <div id="addresses-containter">
            <%= render 'addresses/index' %>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-md-4 col-sm-12">
      <div class="card rounded-3">
        <div class="card-header text-center">Actions</div>
        <div class="card-body">
          <%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary col-12"%>
          <%= button_to "Add address", new_address_path, id: "new_address", remote: true, class: "btn btn-info col-12 mt-2 load-modal", method: :get, data: { disable_with: "Please wait..." } %>
          <%= link_to "Orders", orders_path, class: "btn btn-info col-12 mt-2"%>
        </div>
      </div>
    </div>

  </div>
</div>

<%= render 'misc/ar_delete_modal' %>